@use '../variables.scss';
@use '../mixins.scss';

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: #424242;
}

::-webkit-scrollbar-thumb {
  background: #686868;
}

#storys {
  display: flex;
  background-color: variables.$bg-color;
  border-radius: .4rem;
  border: variables.$border-color;
  padding: 1rem;
  gap: 1.1rem;
  width: 470px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .picture {
    text-align: center;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: variables.$border-radius;
      border: 2px solid #FF1E4F;
      padding: .14rem;
    }

    figcaption {
      font-size: .75rem;
      color: #262626;
    }
  }
}